/*CSS file for maja blanca recipe*/

.maja { color: red;
    font-size: 50px;
    font-weight: bold;  
    font-style:initial;
    text-align: center;
    font-family: cursive, fantasy, sans-serif;}


/*
img {height: 350px;
width: auto
display: center;} */